<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Loan Sanction</h1>
          
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/disbursement']" >
               
              Loan Sanction Pending</a></li>
            <li class="breadcrumb-item active">Loan Sanction</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="container card">

    

    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Group Information 
            <ng-container *ngIf="this.GroupData.GroupStatus == 1; then thenTemplate; else elseTemplate"></ng-container>
            <ng-template #thenTemplate>
              <span  class="badge badge-success ">Approved</span>
            </ng-template>
            <ng-template #elseTemplate>
              <span  class="badge badge-danger">Pending</span>
            </ng-template></legend> 
       

        <div class="row">
          
            <div class=" col-md-12">
             <div class="row">
                <div class="col-md-3">
                 <div class="form-group">
                   <label>Branch Name</label>
                   <input type="text" class="form-control"  readonly   value="{{this.GroupData.branch_name}}"  >
               
                </div>
              </div>
  
              <div class="col-md-3">
               <div class="form-group">
                 <label>Area Name</label>
                 <input type="text" class="form-control"  readonly    value="{{this.GroupData.area_name}}" >
             
              </div>
             </div> 
  
             <div class="col-md-3">
               <div class="form-group">
                 <label>Center Name</label>
                 <input type="text" class="form-control"  readonly  value="{{this.GroupData.center_name}}" >
             
              </div>
             </div> 
  
           

              <div class="col-md-3">
                <div class="form-group">
                  <label>Group Name</label>
                  <input type="text" class="form-control"  readonly   value="{{this.GroupData.group_name}}" >
              
               </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                    <label>Group Limit</label>
                    <input type="text" class="form-control"  readonly   value="{{this.GroupData.member_limit}}" >
              
               </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                    <label>Created Date</label>
                    <input type="text" class="form-control"  readonly   value="{{this.GroupData.created_date}}" >
              
               </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                    <label>Contact Person Name</label>
                    <input type="text" class="form-control"  readonly   value="{{this.GroupData.contact_person}}" >
              
               </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                    <label>Contact Person Number</label>
                    <input type="text" class="form-control"  readonly   value="{{this.GroupData.contact_number}}" >
              
               </div>
              </div>
              
            </div>
            </div>
        </div>

         
    
    </fieldset>

    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Group Member Information's</legend> 
    
        <table   class="table_loan table table-striped  table-bordered row-border hover"  >
            <thead>
                <tr>
                    
                    <th>Profile</th>
                    <th>Application No</th>
                    <th>Name</th>
                    <th>Branch</th>
                    <th>Center</th>
                    <th>Group</th>
                    
                    <th>Loan Purpose</th>
                    <th>Loan Amount Expected</th>
                   
                    <th>Added By</th>
                    <th>Date</th>
                    <th>CGT Status</th>
                    <th>Action</th>
                    
                </tr>
            </thead>
            <tbody>
             <tr *ngFor="let row of members; let i = index">
            
                <td><img style="width:50px;height: 50px;" src="{{ row.member_photo_pr ? this.Url+row.member_photo_pr : 'https://www.w3schools.com/howto/img_avatar.png'}}"/></td>
                <td>{{row.loan_application_number}}</td>
                <td>{{row.applicant_name}}</td>
                <td>{{row.branch_name}}</td>
                <td>{{row.center_name}}</td>
                <td>{{row.group_name}}</td>
                
                <td>{{row.loan_purpose}}</td>
                <td><span  class="badge badge-success ">{{ row.loan_amount | currency:'INR' }}</span></td>
                <td>{{row.added_by}}</td>
                <td>{{row.created_date}}</td>
                <td><ng-container *ngIf="row.is_cgt_verfied == 1; then thenTemplate; else elseTemplate"></ng-container>
                  <ng-template #thenTemplate>
                    <span  class="badge badge-success ">Approved</span>
                  </ng-template>
                  <ng-template #elseTemplate>
                    <span  class="badge badge-danger">Pending</span>
                  </ng-template>
                   </td>

                   
                   <td><button class="btn btn-primary btn-sm" (click)="viewForm(row)"  >View</button>
                
                   
                
               
            </tr>
            </tbody>
        </table>
    </fieldset>

       <fieldset class="scheduler-border">
        <legend class="scheduler-border">Group Loan Distribution's</legend> 
        <div class="row cal_box">
       


               
          </div>  
          <div class="row cal_box">
            <div class="col-md-6">
              <table>
                <tr>
                  <td>Loan amount</td>
                  <td> <input type="text"  (keydown)="numberOnly($event)"  [(ngModel)]="total_amount" class="form-control margin_left_10" ></td>
                </tr>

                
                <tr>
                  <td>Loan terms (Months)</td>
                  <td> <input type="text"  (keydown)="numberOnly($event)"  [(ngModel)]="term"   class="form-control margin_left_10" ></td>
                </tr>
                

               
                
               
                

                
              

               

               


                
              </table>
            </div>
            <div class="col-md-6">
                <table>
                 
                 
                  
                 
                    <tr>
                        <td style="width: 40%;">Select Product (Intrest)</td>
                        <td><select class="form-control margin_left_10" [(ngModel)]="this.intrest"  >
                          <option value="">Select Product</option>
                          <option value="25" >MLM - 25%</option>
                          <option value="26" >BC - 26%</option>
                          
                        </select></td>
                      </tr>
      
                      <tr>
                          <td style="width: 40%;">Approved Status</td>
                          <td><select class="form-control margin_left_10" [(ngModel)]="this.blc_status"  >
                            <option value="">Select Status</option>
                            <option value="1" >Approved</option>
                            <option value="0" >Pending</option>
                            <option value="2" >Rejected</option>
                          </select></td>
                        </tr>
  
                  
                
  
                 
  
                 
  
  
                  
                </table>
              </div>
            
          </div> 
          
          <div class="row d-flex justify-content-center">
            <button (click)="submitData()" class="btn btn-success">Submit</button>
          </div>
     
    </fieldset>
     
  </section>
  
  <!-- /.content -->


