<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Manage Banks</h1>
          
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="['/superdashboard']">Home</a></li>
            <li class="breadcrumb-item active">Banks</li>
           
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">

    <a class="btn btn-primary btn-sm add_btn" [routerLink]="['/Activebanks/bankform']" routerLinkActive="router-link-active"  >Add Bank</a>
      <div class="container-fluid card">
        
          <table datatable  [dtTrigger]="dtTrigger"   class="table table-striped  table-bordered row-border hover"  >
            <thead>
                <tr>
                    <th>Sr no</th>
                    <th>Bank Name</th>
                    <th>Bank Code</th>
                    <th>Bank Added Date</th>
                    <th>Bank URL</th>
                    <th>Bank Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of bankList; let i = index">
                    <td>{{i+1}}</td>
                    <td><img src="{{row.bank_logo}}" style="width: 50px;margin-right: 10px;" class="rounded-circle" alt="{{row.bank_name}}">{{row.bank_name}}</td>
                    <td>{{row.bank_app_key_code}}</td>
                    <td>{{row.added_date}}</td>
                    <td>{{row.bank_url}}</td>
                    <td><ng-container *ngIf="row.bank_status == 1; then thenTemplate; else elseTemplate"></ng-container>
                    <ng-template #thenTemplate>
                      <span  class="badge badge-success ">Active</span>
                    </ng-template>
                    <ng-template #elseTemplate>
                      <span  class="badge badge-danger">Inactive</span>
                    </ng-template>
                     </td>
                    <td><button class="btn btn-success btn-sm" (click)="edit(row)" >Edit</button>
                        <button class="btn btn-danger btn-sm ml-1" (click)="delete_row(row)">Delete</button>
                 
                      </td>
                </tr>
            </tbody>
        </table>
  
        </div>
  </section>
