<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
  
          
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#" [routerLink]="['/loans']" >Loans</a></li>
            <li class="breadcrumb-item active">View Loan Application</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <div class="container card">

    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Personal Information</legend> 
       

         <div class="row">
           <div class="col-md-3"> <div class="image-container">
            <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'"> <br/>
            <input type='file'  class="select-profile-picture">
            <span class="message">Tap here to select your picture</span>
           </div></div>
           <div class=" col-md-8">
            <div class="row">
               <div class="col-md-6">
                <div class="form-group">
                  <label>Applicant Name</label>
                  <input type="text" class="form-control"  readonly  >
              
               </div>
             </div>

             <div class="col-md-6">
              <div class="form-group">
                <label>Applicant Father Name</label>
                <input type="text" class="form-control"  readonly  >
            
             </div>
            </div> 

            <div class="col-md-4">
              <div class="form-group">
                <label>Gender</label>
                <input type="text" class="form-control"  readonly  >
            
             </div>
            </div> 

            <div class="col-md-4">
              <div class="form-group">
                <label>DOB</label>
                <input type="text" class="form-control"  readonly  >
            
             </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label>AGE</label>
                <input type="text" class="form-control"  readonly  >
            
             </div>
            </div>
           </div>
           </div>
         </div>

         <div class="row">
          
          <div class=" col-md-12">
           <div class="row">
              <div class="col-md-4">
               <div class="form-group">
                 <label>Applicant Mobile no</label>
                 <input type="text" class="form-control"  readonly  >
             
              </div>
            </div>

            <div class="col-md-4">
             <div class="form-group">
               <label>Applicant UID No</label>
               <input type="text" class="form-control"  readonly  >
           
            </div>
           </div> 

           <div class="col-md-4">
             <div class="form-group">
               <label>Taluka</label>
               <input type="text" class="form-control"  readonly  >
           
            </div>
           </div> 

           <div class="col-md-4">
             <div class="form-group">
               <label>District</label>
               <input type="text" class="form-control"  readonly  >
           
            </div>
           </div>

           <div class="col-md-4">
             <div class="form-group">
               <label>State</label>
               <input type="text" class="form-control"  readonly  >
           
            </div>
           </div>

           <div class="col-md-4">
            <div class="form-group">
              <label>Pincode</label>
              <input type="text" class="form-control"  readonly  >
          
           </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label>Address</label>
              <textarea type="text" class="form-control"  readonly  ></textarea>
          
           </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Center</label>
              <input type="text" class="form-control"  readonly  >
          
           </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Group</label>
              <input type="text" class="form-control"  readonly  >
          
           </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Created By</label>
              <input type="text" class="form-control"  readonly  >
          
           </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Created Date</label>
              <input type="text" class="form-control"  readonly  >
          
           </div>
          </div>
          </div>
          </div>
        </div>
    
    </fieldset>

    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Cash Flow Information</legend> 
        
    </fieldset>

     <fieldset class="scheduler-border">
        <legend class="scheduler-border">Uploaded Documents</legend> 
        
    </fieldset>
    
  </div>
<!-- /.content-wrapper -->