<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Manage Surveys</h1>
          
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Surveys</li>
           
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">

    <button class="btn btn-primary btn-sm add_btn" (click)="add()" >Add Survey</button>
      <div class="container-fluid card">
        
          <table datatable    class="table table-striped  table-bordered row-border hover"  >
            <thead>
                <tr>
                    <th>Sr no</th>
                    <th>Area</th>
                    <th>Branch</th>
                    <th>Employee</th>
                    <th>Action</th>
                </tr>
            </thead>
            
        </table>
  
        </div>
  </section>
  
  <!-- /.content -->


