 <!-- Content Header (Page header) -->
 <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
       

      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">

  
      <div class="row">
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
            <span class="info-box-icon bg-info"><i class="far fa-building"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Branches</span>
              <span class="info-box-number">{{(this.data) ? this.data.branch_count : "loading.."}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
            <span class="info-box-icon bg-success"><i class="far fa-flag"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Village / Area Survey</span>
              <span class="info-box-number">{{ (this.data) ? this.data.survey_count : "loading.."}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
            <span class="info-box-icon bg-warning"><i class="fas fa-person-booth"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Centers</span>
              <span class="info-box-number">{{ (this.data) ? this.data.center_count : "loading.."}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
            <span class="info-box-icon bg-danger"><i class="fas fa-users"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Groups</span>
              <span class="info-box-number">{{ (this.data) ? this.data.group_count : "loading.."}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
        
      <div class="row">
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
            <span class="info-box-icon bg-warning"><i class="fas fa-user-friends"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Customers</span>
              <span class="info-box-number">{{ (this.data) ? this.data.customer_count : "loading.."}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
            <span class="info-box-icon bg-danger"><i class="fas fa-compress-arrows-alt"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">CGT</span>
              <span class="info-box-number">{{ (this.data) ? this.data.cgt_count : 'loading..'}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
            <span class="info-box-icon bg-info"><i class="fas fa-file-invoice-dollar"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Loan Sanction Pending</span>
              <span class="info-box-number">{{ (this.data) ? this.data.loan_sanction_count : 'loading..'}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
            <span class="info-box-icon bg-success"><i class="far fa-star"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">SBND</span>
              <span class="info-box-number">{{ (this.data) ? this.data.sbnd_count : 'loading..'}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>

      <div class="row">
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
            <span class="info-box-icon bg-info"><i class="fas fa-user-tag"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Disbursement</span>
              <span class="info-box-number">{{ (this.data) ? this.data.dis_count : 'loading..'}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
            <span class="info-box-icon bg-success"><i class="fas fa-search-dollar"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Outstanding</span>
              <span class="info-box-number">{{ (this.data) ? this.data.outStanding_count : 'loading..'}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
            <span class="info-box-icon bg-warning"><i class="fas fa-hand-holding-usd"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Collection</span>
              <span class="info-box-number">{{(this.data) ? this.data.collection_count : 'loading..'}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
            <span class="info-box-icon bg-danger"><i class="far fa-file-excel"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Over Due</span>
              <span class="info-box-number">{{ (this.data) ? this.data.over_due_count : 'loading..'}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
      <div class="row">
        <div class="col-md-6">
          <!-- Box Comment -->
          <div class="card card-widget">
            <div class="card-header">
              
              <span class="description">Pending Branches</span>
            
              <!-- /.user-block -->
              <div class="card-tools">
               
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
              <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body">
             
            </div>
            
         
           
    
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-6">
          <!-- Box Comment -->
          <div class="card card-widget">
            <div class="card-header">
              
              <span class="description">Pending Surveys</span>
            
              <!-- /.user-block -->
              <div class="card-tools">
               
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
              <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body">
             
            </div>
            
         
           
    
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>

      <div class="row">
        <div class="col-md-6">
          <!-- Box Comment -->
          <div class="card card-widget">
            <div class="card-header">
              
              <span class="description">Pending Centers</span>
            
              <!-- /.user-block -->
              <div class="card-tools">
               
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
              <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body">
             
            </div>
            
         
           
    
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-6">
          <!-- Box Comment -->
          <div class="card card-widget">
            <div class="card-header">
              
              <span class="description">Pending Groups</span>
            
              <!-- /.user-block -->
              <div class="card-tools">
               
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
              <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body">
             
            </div>
            
         
           
    
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
</div>

</section>
         
<!-- /.content-wrapper -->