<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Loan Distribution</h1>
          
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/disbursement']" >
               
              Disbursement Allocation</a></li>
            <li class="breadcrumb-item active">Loan Distribution</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="container card">

    

    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Group Information 
            <ng-container *ngIf="row.GroupStatus == 1; then thenTemplate; else elseTemplate"></ng-container>
            <ng-template #thenTemplate>
              <span  class="badge badge-success ">Approved</span>
            </ng-template>
            <ng-template #elseTemplate>
              <span  class="badge badge-danger">Pending</span>
            </ng-template></legend> 
       

        <div class="row">
          
            <div class=" col-md-12">
             <div class="row">
                <div class="col-md-3">
                 <div class="form-group">
                   <label>Branch Name</label>
                   <input type="text" class="form-control"  readonly   value="{{this.row.branch_name}}"  >
               
                </div>
              </div>
  
              <div class="col-md-3">
               <div class="form-group">
                 <label>Area Name</label>
                 <input type="text" class="form-control"  readonly    value="{{this.row.area_name}}" >
             
              </div>
             </div> 
  
             <div class="col-md-3">
               <div class="form-group">
                 <label>Center Name</label>
                 <input type="text" class="form-control"  readonly  value="{{this.row.center_name}}" >
             
              </div>
             </div> 
  
           

              <div class="col-md-3">
                <div class="form-group">
                  <label>Group Name</label>
                  <input type="text" class="form-control"  readonly   value="{{this.row.group_name}}" >
              
               </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                    <label>Group Limit</label>
                    <input type="text" class="form-control"  readonly   value="{{this.row.member_limit}}" >
              
               </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                    <label>Created Date</label>
                    <input type="text" class="form-control"  readonly   value="{{this.row.created_date}}" >
              
               </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                    <label>Contact Person Name</label>
                    <input type="text" class="form-control"  readonly   value="{{this.row.contact_person}}" >
              
               </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                    <label>Contact Person Number</label>
                    <input type="text" class="form-control"  readonly   value="{{this.row.contact_number}}" >
              
               </div>
              </div>
              
            </div>
            </div>
        </div>

         
    
    </fieldset>

    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Group Member Information's</legend> 
    
        <table   class="table_loan table table-striped  table-bordered row-border hover"  >
            <thead>
                <tr>
                    
                    <th>Profile</th>
                    <th>Applicant Name</th>
                    <th>Group</th>
                    <th>Center</th>
                    <th>Loan Purpose</th>
                    <th>Loan Amount</th>
                    <th>Branch</th>
                    <th>Added By</th>
                    <th>Added Date</th>
                    <th>Status</th>
                    
                </tr>
            </thead>
            <tbody>
             <tr *ngFor="let row of members; let i = index">
            
                <td><img style="width:50px;height: 50px;" src="{{ row.member_photo_pr ? this.Url+row.member_photo_pr : 'https://www.w3schools.com/howto/img_avatar.png'}}"/></td>
                <td>{{row.applicant_name}}</td>
                <td>{{row.group_name}}</td>
                <td>{{row.center_name}}</td>
                <td>{{row.loan_purpose}}</td>
                <td><span  class="badge badge-success ">{{ row.loan_amount | currency:'INR' }}</span></td>
                <td>{{row.branch_name}}</td>
                <td>{{row.added_by}}</td>
                <td>{{row.created_date}}</td>
                <td><ng-container *ngIf="row.center_status == 1; then thenTemplate; else elseTemplate"></ng-container>
                  <ng-template #thenTemplate>
                    <span  class="badge badge-success ">Approved</span>
                  </ng-template>
                  <ng-template #elseTemplate>
                    <span  class="badge badge-danger">Pending</span>
                  </ng-template>
                   </td>

                   

                
                   
                
               
            </tr>
            </tbody>
        </table>
    </fieldset>

       <fieldset class="scheduler-border">
        <legend class="scheduler-border">Group Loan Distribution's</legend> 

        <p class="header_span">Flat Rate Interest Calculator (Summary)</p>
        <div class="row cal_box">
          <div class="col-md-6">
            <div class="row">
              <table>
                <tr>
                  <td>Loan Amount</td>
                  <td> <input type="text"  (keydown)="numberOnly($event)"  (blur)="[transformAmount($event),pmt_cal()]" [(ngModel)]="formattedAmount" class="form-control margin_left_10" ></td>
                </tr>

                <tr>
                  <td>Annual percentage rate (APR)</td>
                  <td> <input type="text" [(ngModel)]="apr" (blur)="pmt_cal()" class="form-control margin_left_10" ></td>
                </tr>

                <tr>
                  <td>Loan terms (Years)</td>
                  <td> <input type="text"  (keydown)="numberOnly($event)"  (blur)="get_loan_term($event)" [(ngModel)]="loan_term_years"   class="form-control margin_left_10" ></td>
                </tr>
                <tr>
                  <td>Loan date (mm/dd/yy)</td>
                  <td> <input type="date" [(ngModel)]="date" class="form-control margin_left_10" ></td>
                </tr>

                <tr>
                  <td>Payment type</td>
                  <td>
                    <select class="form-control margin_left_10">
                      <option value="Beginning of the Period" >Beginning of the Period</option>
                      <option value="End of the Period" >End of the Period</option>
                    </select>
                  </td>
                </tr>

                <tr>
                  <td>Payment frequency</td>
                  <td>
                    <select class="form-control margin_left_10"   (change)="payFeqFun($event.target.value)">
                      <option value="Weekly" >Weekly</option>
                      <option value="Bi-weekly" >Bi-weekly</option>
                      <option value="Semi-monthly" >Semi-monthly</option>
                      <option value="Monthly" >Monthly</option>
                      <option value="Bi-Monthly" >Bi-Monthly</option>
                      <option value="Quarterly" >Quarterly</option>
                      <option value="Semi-annually" >Semi-annually</option>
                      <option value="Yearly" >Yearly</option>
                    </select>
                  </td>
                </tr>

                <tr>
                  <td>Interest Compounding Frequency</td>
                  <td><select class="form-control margin_left_10"  (change)="intFrqFun($event.target.value)">
                    <option value="Weekly" >Weekly</option>
                    <option value="Bi-weekly" >Bi-weekly</option>
                    <option value="Semi-monthly" >Semi-monthly</option>
                    <option value="Monthly" >Monthly</option>
                    <option value="Bi-Monthly" >Bi-Monthly</option>
                    <option value="Quarterly" >Quarterly</option>
                    <option value="Semi-annually" >Semi-annually</option>
                    <option value="Yearly" >Yearly</option>
                  </select></td>
                </tr>

                
              </table>
            </div>
          </div>
          <div class="col-md-6">
            <table>
              <tr>
                <td style="width: 40%;">{{this.payFrq}} Principle Payment</td>
                <td><input type="text"  [(ngModel)]="flat_rate_principle_payment" class="form-control margin_left_10" ></td>
              </tr>
              <tr>
                <td style="width: 40%;">{{this.payFrq}} Interest Payment</td>
                <td><input type="text"  [(ngModel)]="flat_rate_interest_payment" class="form-control margin_left_10" ></td>
              </tr>
              <tr>
                <td style="width: 40%;">Total {{this.payFrq}} Payment</td>
                <td><input type="text" [(ngModel)]="flat_rate_total_payment" class="form-control margin_left_10" ></td>
              </tr>

              <tr>
                <td style="width: 40%;"><b>Total Payments</b></td>
                <td><input type="text"  [(ngModel)]="flat_rate_final_total_payment" class="form-control margin_left_10" ></td>
              </tr>
              <tr>
                <td style="width: 40%;"><b>Total Interest Paid</b></td>
                <td><input type="text" [(ngModel)]="flat_rate_final_interest_payment" class="form-control margin_left_10" ></td>
                <td><input type="text" [(ngModel)]="flat_rate_final_interest_payment_pre"  class="form-control margin_left_10" ></td>
              </tr>
            </table>
          </div>
        </div>
        <p class="header_span">Reducing Rate of Interest Calculator (Summary)</p>
        
        <div class="row cal_box">
         
            <div class="col-md-6">
              <table>
                <tr>
                  <td>Scheduled {{this.payFrq}} Payment</td>
                  <td><input type="text" [(ngModel)]="scheduled_payment"  class="form-control margin_left_10" ></td>
                </tr>
                <tr>
                  <td>Scheduled number of payments </td>
                  <td><input type="text" [(ngModel)]="lt"  (blur)="pmt_cal()"  class="form-control margin_left_10" ></td>
                </tr>
                <tr>
                  <td>Interest Rate (Per Period)</td>
                  <td><input type="text" [(ngModel)]="interest_per_period" class="form-control margin_left_10" ></td>
                </tr>
  
                <tr>
                  <td>Payment Type</td>
                  <td><input type="text" class="form-control margin_left_10" ></td>
                </tr>
                
              </table>
            </div>
            <div class="col-md-6">
              <table>
                
  
                <tr>
                  <td style="width: 40%;"><b>Total Payments</b></td>
                  <td><input type="text" [(ngModel)]="sum_pay_paid" class="form-control margin_left_10" ></td>
                </tr>
                <tr>
                  <td style="width: 40%;"><b>Total Interest Paid</b></td>
                  <td><input type="text" [(ngModel)]="total_interest_paid" class="form-control margin_left_10" ></td>
                  <td><input type="text"  [(ngModel)]="sum_pay_percentage"   class="form-control margin_left_10" ></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="row cal_box">
            <table class="table table-bordered">
              <tr>
                <th>No</th>
                <th>Payment Date</th>
                <th>Beginning Balance</th>
                <th>Scheduled Payment</th>
                <th>Interest Paid</th>
                <th>Principle Paid</th>
                <th>Ending Balance</th>
              </tr>
              <tbody>
                <tr *ngFor="let row of interest_table; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{row.inc_date}}</td>
                  <td>{{row.loan_amount}}</td>
                  <td>{{row.schedule_payment}}</td>
                  <td>{{row.interest_paid}}</td>
                  <td>{{row.principle_paid}}</td>
                  <td>{{row.ending_balance}}</td>
                </tr>
              </tbody>
            </table>
          </div>
     
    </fieldset>
     
  </section>
  
  <!-- /.content -->


